<app-header></app-header>

<router-outlet></router-outlet>

<app-book-room-error></app-book-room-error>
<app-book-room-confirm></app-book-room-confirm>
<app-book-room-success></app-book-room-success>
<app-food-order-cart-too-full></app-food-order-cart-too-full>
<app-food-order-error></app-food-order-error>
<app-food-order-kitchen-too-full></app-food-order-kitchen-too-full>
<app-food-order-success></app-food-order-success>
<app-reserve-table-error></app-reserve-table-error>
<app-reserve-table-success></app-reserve-table-success>

<app-footer></app-footer>
