<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restaurant</title>
    <meta name="author" content="Surjith S M">

    <!-- SEO -->
    <meta name="description" content="This is a Restaurant where you can book events with your favorite waiter.">

    <!-- Favicons -->
    <!-- Responsive Tag -->
    <meta name="viewport" content="width=device-width">

    <!-- CSS Files -->
    
</head>

<body>

    <!-- Preloder-->

    <div class="body">

        <div class="main-wrapper">
            <!-- Navigation-->
            <!-- Page Header -->
            
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="giant-space">
                            <h2 class="text-giant">404</h2>
                            <p class="wow fadeInUp">Sorry. The page you are looking for is not found</p>
                            <p class="top-space-lg"><a href="./index.html" class="btn btn-default btn-lg">Back to home</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subscribe -->
            <!-- Footer-->
        </div>

    </div> 

    <!-- Javascript -->
</body>

</html>
