h2 {
  text-align: center;
}

p {
  margin: 30px;
  text-align: justify;
}

img {
  width: 100%;
}

.main {
  position: sticky;
  z-index: 5;
  top: 28em;
  margin-top: 400px;
  margin-bottom: 120px;
}

.picture-header {
  position: relative;
  top: -140px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.main-p {
  width: 80%;
}

.box {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}

.floating-box {
  width: 30%;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  margin: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  border-style: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background-color: #587364;
  margin-bottom: 10px;
  margin-left: 30%;
}

.button:hover {
  cursor: pointer;
    background: #86a293 ;
    color: #fff;
}

.centerbtn {
  position: relative;
  padding-left: 25%;
}

.spacer {
  margin-bottom: 150px;
}
