.reservation {
  padding-top: 18%;
  height: 350px;
  text-align: center;
  background-image: url(assets/pictures/sebastian-coman-photography-cQbOSRpElxw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 65%;
}

#ResForm {
  padding-top: 2%;
}

input[type=text] {
  border: 12px 20px;
  padding: 12px 20px;
  margin: 8px 0;
  margin-right: 2%;
  box-sizing: border-box;
}

input[type=date] {
  border: 12px 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=time] {
  border: 12px 20px;
  padding: 11px 20px;
  margin: 8px 0;
  margin-left: 2%;
  box-sizing: border-box;
}

.PartySize {
  border: 12px 20px;
  padding: 13px 20px;
  margin: 8px 0;
  margin-left: 2%;
  box-sizing: border-box;
}

#spacer {
  width: 10%;
  height: 5%;
}

small {
  margin: 3%;
  color: white;
  font-size: 1.2em;
}

.container {
  width: 1170px;
}

form {
  color: #707070;
}

#PartySize {
  background-color: white;
}

button {
  background-color: #587364;
  color: white;
  border-style: none;
  border: 12px 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1.5em;
}

.reservation-footer {
  color: white;
  font-size: 1.2em;
}
