.header-title {
  text-align: center;
  color: white;
  font-size: 3em;
}

.main {
  position: sticky;
  z-index: 5;
  margin-top: 300px;
  margin-bottom: 120px;
  padding-left: 10%;
  padding-right: 10%;
}
