
<div id="spacer"></div>
<footer id="header">
	<nav class="links" style="--items: 5;">
    <a class="footer-brand" href="#">
      <img src="assets/logo/glyph-logo_May2016.png" alt="img" style="width: 60px; padding-top: 20px;"></a>
    <a class="footer-brand" href="#">
      <img src="assets/logo/f_logo_RGB-Black_100.png" alt="img" style="width: 60px;padding-top: 20px;"></a>
    <a routerlink="home" class="navbar-brand" href="#">
      <img src="assets/logo/logolechaudron.png" alt="img"></a>
		<a routerLink="legalDisclosure" class="menu-link">Impressum</a>
		<a routerLink="contact" class="menu-link">Kontakt</a>
	</nav>
</footer>
