
<div id="spacer"></div>
<footer id="header">
	<nav class="links" style="--items: 6;">

    <a class="footer-brand" href="#">
			<img src="https://www.pngfind.com/pngs/m/16-169583_png-file-transparent-background-twitter-logo-png-download.png" alt="img" style="width: 30px; height: 30px"></a>
    <a class="footer-brand" href="#">
      <img src="https://toppng.com/uploads/preview/instagram-icon-11609365124lyquzat0xh.png" alt="img" style="width: 30px; height: 30px"></a>
    <a class="footer-brand" href="#">
      <img src="assets/logo/f_logo_RGB-Black_100.png" alt="img" style="width: 30px; height: 30px"></a>
    <a routerlink="home" class="navbar-brand" href="#">
      <img src="assets/logo/logolechaudron.png" alt="img" style="width: 30px; height: 30px"></a>
		<a routerLink="legalDisclosure">Impressum</a>
		<a routerLink="contact">Kontakt</a>
	</nav>
</footer>
