
<div class="header-title">
  <h1>Buchung bestätigen</h1>
</div>


<div id="spacer"></div>
<div class = "container">
<div class="login-box">
        <h2>Kontaktdaten</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Nachname</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Telefonnummer</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Bezahlmethode</label>
          </div>
        <div>
            <button type="submit" class="btn btn-default btn-lg OT_TableButton">Buchung bestätigen</button>
        </div>
        </form>
  </div>
</div>


<div *ngFor="let raum of raueme">
    <table>
      <tr>
        <td id="roomName">
          {{raum.raum_name}}
        </td>
        </tr>
        <tr>
          <td class="roomDescription">
            {{raum.raum_description}}
          </td>
        <td class="roomPrice">
          {{raum.raum_cost}}
        </td>
        <td class="btnCart">
          <button type="button" class="btn">Reservieren</button>
        </td>
      </tr>
    </table>
    <button type="button" class="btn">Reservierung abschließen</button>
  </div>
