<div class="body">

        <div class="main-wrapper">
            <!-- Navigation-->
            <!-- Page Header -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="giant-space">
                            <div class="error">
                            <h2 class="text-giant">Leider ist schiefgelaufen…</h2>
                            <p class="wow fadeInUp">
                                Es scheint, als wäre etwas beim Reservierungsvorgang schiefgelaufen. Entschuldigung!
                                Bitte versuche es später nochmal.
                                </p>
                                <p class="top-space-lg"><a href="book-table" class="homebutton">Back to home</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
