<body>
  <div class="main">
    <div class="center">
      <h1>Willkommen zu Le Chaudron</h1>
    </div>
    <div class="center">
      <p>Wir sind ein französisch-schweizer Restaurant auf der Vogelinsel bei Bremen. Wir haben uns auf die Mischung zwischen der feinen französischen Küche und der herzhaftigkeit der schweizer Küche spezalisiert.
      </p>
    </div>

    <div class="box">
      <div class="floating-box">
        <h2>Tisch Reservieren</h2>
        <p>Solltet ihr auf der Suche sein, einen Tisch zu reservieren bei uns, könnt ihr das natürlich auch gerne via Internet machen. Wir bieten euch an, an jeden Wochentag bei uns essen zu können zwischen 11:00 Uhr und 23:00 Uhr. Als Reservierungszeit steht euch der Zeitraum zwischen 11:00 und 22:00 Uhr zur Verfügung.
          Gerne könnt ihr natürlich auch persönlich eine Reservierung vereinbaren. Schaut dafür einfach bei den Kontaktdaten vorbei!
        </p>
        <div>
          <a href="/reserveTable" class="button">Tisch reservieren</a>
        </div>
      </div>

      <div class="floating-box">
        <h2>Raum Buchen</h2>
        <p>Gerne wollen wir euch auch bei einem besonderen Tag bewirten. Dafür stehen euch unterschiedliche Räume und Menüs zur Verfügung. So könnt ihr mit Aussicht feiern, oder mit sehr viel Stil. Ganz wie es euch gefällt. Darüber hinaus könnt ihr, sofern ihr einen Wunsch habt, einen Wunsch Kellner auswählen.
          Wir freuen uns auf euch! Gerne könnt ihr uns auch direkt anrufen oder vorbei kommen, wo seht ihr in den Kontaktdaten.
        </p>
        <div>
          <a href="/bookRoom" class="button">Raum buchen</a>
        </div>
      </div>

      <div class="floating-box">
        <h2>Essen bestellen</h2>
        <p>Habt ihr keine Lust bei uns zu speisen, aber dennoch Appetit auf unser essen? Oder wollt eure Freunde oder eure Familie mit Essen von uns überraschen bei einem Besuch? Dann könnt ihr gerne jedes Gericht von der Speisekarte vorbestellen. Ganz einfach über unsere Internetseite. Ihr müsst es dann nur noch abholen und genießen.
          Grade bei schönen Wetter, lädt ein Picknik mit unseren Gerichten in der Natur besonders ein.
        </p>
        <div>
          <a href="/foodMenu" class="button">Essen bestellen</a>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer">

  </div>
</body>
