<header id="header">
	<nav class="links" style="--items: 6;" >
		<a routerLink="reserveTable" >Tisch reservieren</a>
    <a routerLink="bookRoom">Raum buchen</a>
		<a href="#" >Essen bestellen</a>
    <a routerLink="home" class="navbar-brand">
			<img src="https://cdn-icons-png.flaticon.com/512/4483/4483612.png" alt="img" style="width: 50px; height: 50px"></a>
		<a routerLink="#" >Einkaufswagen</a>
		<a routerLink="#" >Speisekarte</a>
    <a routerLink="contact">Kontakt</a>
		<span class="line"></span>
	</nav>
</header>

<router-outlet></router-outlet>
