<div class="header-title">
  <h1>Bestellfehler</h1>
</div>

<div class="container">
  <div class="row">
    <div class="error">
      <h2>Leider ist schiefgelaufen…</h2>
      <p>
        Leider scheinst du zu viele Gerichte auf einmal bestellen zu wollen.
        Bitte melde dich für solche Mengen an Gerichten per Telefon bei uns mit genügend Vorlauf, sodass unsere Küche nicht überlastet ist!
      </p>
      <a href="home" class="homebutton">Zurück zur Startseite</a>
    </div>
  </div>
</div>
