<app-navbar></app-navbar>
<app-book-table></app-book-table>
<app-book-room></app-book-room>
<app-food-menu></app-food-menu>
<app-contact></app-contact>

<app-reservierung404></app-reservierung404>
<app-reservierungsvorgang404></app-reservierungsvorgang404>
<app-bestellung404></app-bestellung404>
<app-bestellvorgang404></app-bestellvorgang404>
<app-buchungs404></app-buchungs404>
<app-error-page404></app-error-page404>



<app-tisch-success></app-tisch-success>
<app-bestellung-success></app-bestellung-success>
<app-raum-success></app-raum-success>

<app-footer></app-footer>

<router-outlet></router-outlet>
