.header-title {
  text-align: center;
  color: white;
  font-size: 3em;
}

.main {
  position: sticky;
  z-index: 5;
  margin-top: 250px;
  margin-bottom: 120px;
}

.container {
  height: 350px;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 65%;
}


input[type=text], select, textarea {
  width: 300%;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgb(161, 157, 157);
  border-radius: 4px;
  resize: vertical;
  text-align: center;
  font-size: large;
  color: rgb(115, 114, 114);
}

input[type=date],input[type=time]{
  width: 188%;
  padding: 12px;
  border: 1px solid rgb(161, 157, 157);
  border-radius: 4px;
  resize: vertical;
  text-align: center;
  font-size: large;
  color: rgb(115, 114, 114);
}

.container form button {
  background-color: #587364;
  color: white;
  border-style: none;
  border: 12px 20px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1.5em;
  cursor: pointer;
}

.container button:hover {
  cursor: pointer;
  background: #537b65;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #88a796,
              0 0 25px #88a796,
              0 0 50px #88a796,
              0 0 100px #88a796;
}

.form-group-1{
  display:flex;
}

.form-group-2{
  display: flex;
}

.form-group{
flex-basis: 100px;
margin-left: 20%;
margin-top: 1.5%;
margin-bottom: 1.5%;
}

#spacer {
  width: 10%;
  height: 5%;
}


