

<div class="header-title">
  <h1>Raum buchen</h1>
</div>
<div class="main">
<div class="container">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class = "form-group-1">
      <div class="form-group">
        <select (change)="changeAnzahlPersonen($event)" formControlName="anzahlPersonen">
              <option selected disabled value="">Wie viele Personen?</option>
              <option *ngFor="let anzahlPerson of AnzahlPersonen" [ngValue]="anzahlPerson">
            {{ anzahlPerson }}
          </option>
        </select>
        <div class="invalid-feedback" *ngIf="isSubmitted && anzahlPersonen?.invalid">
          <sup>*</sup>Bitte Anzahl Personen auswählen!
        </div>
      </div>
      <div class="form-group">
        <input (change)="changeDatum($event)" formControlName="datum" type="date" name = "datum" class = "from-control" [(ngModel)]="changed">
        <div class="invalid-feedback" *ngIf="isSubmitted && datum?.invalid">
          <sup>*</sup>Bitte das Datum auswählen!
        </div>
      </div>
      <div class="form-group">
        <input type="time" name = "uhrzeit" class = "from-control" required ngModel>
      </div>
      </div>
      <pre></pre>
      <div class="form-group-2">
      <div class = "form-group">
        <select (change)="changeKellnerAuswahl($event)" formControlName="kellnerAuswahl">
          <option  selected disabled value="">Kellner Auswahl</option>
          <option *ngFor="let kellner of KellnerAuswahl" [ngValue]="kellner">
            {{ kellner }}
          </option>
        </select>
          <div class="invalid-feedback" *ngIf="isSubmitted && kellnerAuswahl?.invalid">
          <sup>*</sup>Bitte wählen Sie den Kellner aus!
          </div>
      </div>
      <div class = "form-group">
        <select (change)="changeMenuAuswahl($event)" formControlName="menuAuswahl">
          <option selected disabled value="">Menü Auswahl</option>
          <option *ngFor="let menu of MenuAuswahl" [ngValue]="menu">
            {{ menu }}
          </option>
        </select>
          <div class="invalid-feedback" *ngIf="isSubmitted && menuAuswahl?.invalid">
          <sup>*</sup>Bitte wählen Sie den Menü aus!
          </div>
      </div>
      <div class = "form-group">
        <select (change)="changeRaumAuswahl($event)" formControlName="raumAuswahl">
          <option value="">Raum Auswahl</option>
          <option *ngFor="let raum of RaumAuswahl" [ngValue]="raum">
            {{ raum }}
          </option>
        </select>
          <div class="invalid-feedback" *ngIf="isSubmitted && raumAuswahl?.invalid">
          <sup>*</sup>Bitte wählen Sie den Raum aus!
          </div>
      </div>
    </div>
    <div id="spacer"></div>

    <div>
        <button type="submit" class="btn btn-default btn-lg OT_TableButton">Raum buchen</button>
    </div>
  </form>



  <div id="spacer"></div>

  <h2>Bitte um Bestätigung</h2>

  <table>
    <tr>
      <td>Anzahl Personen: </td>
      <td *ngIf="isSubmitted && anzahlPersonen?.valid"> {{ modifiedAnzahlPersonen }} </td>
    </tr>
    <tr>
      <td>Datum: </td>
      <td  *ngIf="isSubmitted && datum?.valid" > {{ modifiedDatum }} </td>
    </tr>
    <tr>
      <td>Kellner: </td>
      <td  *ngIf="isSubmitted && kellnerAuswahl?.valid" > {{ modifiedKellner }} </td>
    </tr>
    <tr>
      <td>Menü: </td>
      <td  *ngIf="isSubmitted && menuAuswahl?.valid" > {{ modifiedMenu }} </td>
    </tr>
    <tr>
      <td>Raum: </td>
      <td  *ngIf="isSubmitted && raumAuswahl?.valid" > {{ modifiedRaum }} </td>
    </tr>
  </table>
  <div id="spacer"></div>
  <div>
    <button *ngIf="isSubmitted && raumAuswahl?.valid && menuAuswahl?.valid && kellnerAuswahl?.valid && anzahlPersonen?.valid && datum?.valid" type ="submit" class="btn btn-default btn-lg OT_TableButton" routerLink= "/bookRoomSuccess">Bestätigen</button>
  </div>

  <div id="spacer_1"></div>

</div>
</div>



