
<!--
<p>room-book-confirm works!</p>

<h2>Kontaktdaten</h2>

<form action="/action_page.php">
  <label for="fname">Nachname:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="fname">Email:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="fname">Telefonnummer:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Bezahlmethode:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>

-->
<div class="main">
<div id="spacer"></div>
<div class = "container">
<div class="login-box">
        <h2>Kontaktdaten</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Nachname</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Telefonnummer</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Bezahlmethode</label>
          </div>
        <div>
            <button type="submit" class="btn btn-default btn-lg OT_TableButton">Buchung bestätigen</button>
        </div>
        </form>
  </div>
</div>
</div>
