<p>book-table works!</p>
<form>
    <input type="" <select name="partysize" id="partysize">
    <option value="onePerson">Eine Person</option>
    <option value="twoPersons">Zwei Personen</option>
    <option value="threePersons">Drei Personen</option>
    <option value="fourPersons">Vier Personen</option>
    <option value="fivePersons">Fünf Personen</option>
    <option value="sixPersons">Sechs Personen</option>
    </select>

    <input type="date" id="calender" name="bookTableDate" value="2022-06-15" min="2022-05-01" max="2030-05-01">

    <input type="time" id="time" name="bookTableTime" min="14:00" max="23:00">

    <input type="submit" value="Reservation machen">
    <button type="submit">Reservation machen</button>
</form>