<<<<<<< Updated upstream
=======
.reservation {
    padding-bottom: 80px;
}

.container {
    width: 1170px;
}

>>>>>>> Stashed changes
section {
    background-image: ../../../../pictures/220518_Download_Unplash/sebastian-coman-photography-cQbOSRpElxw-unsplash.jpg;
}

form {
    color: #707070;
}

#partysize {
    background-color: white;
}

#calender {}

#time {}

button {
    background-color: #587364;
}