<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restaurant</title>
    <meta name="author" content="Surjith S M">

    <!-- SEO -->
    <meta name="description" content="This is a Restaurant where you can book events with your favorite waiter.">

    <!-- Favicons -->

    <!-- Responsive Tag -->
    <meta name="viewport" content="width=device-width">

    <!-- CSS Files -->
</head>

<body>


    <!-- Preloder-->

    <div class="body">

        <div class="main-wrapper">
            <!-- Navigation-->

            <!-- Page Header -->

            <!-- Contact Form / Info -->
            <section class="main-content contact-content">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="text-giant">Contact</h2>
                                <h3 class="text-left no-margin-top">Address</h3>
                                <div class="footer-address contact-info">
                                    <p><i class="fa fa-map-marker"></i>28 Seventh Avenue, Neew York, 10014</p>
                                    <p><i class="fa fa-phone"></i>Phone: (415) 124-5678</p>
                                    <p><i class="fa fa-envelope-o"></i>support@restaurant.com</p>
                                </div>
                                <br>

                                <h3 class="text-left no-margin-top">Working hours</h3>
                                <div class="contact-info text-muted">
                                    <p>10:00 am to 11:00 pm on Weekdays</p>
                                    <p>11:00 am to 11:30 pm on Weekends</p>
                                </div>
                                <br>

                                <h3 class="text-left no-margin-top">Follow Us</h3>
                                <div class="contact-social">
                                    <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                                    <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                                    <a href="http://www.dribbble.com"><i class="fa fa-dribbble"></i></a>
                                    <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <form class="contact-form" id="contactForm" action="php/contact.php" method="post">
                                    <div class="form-group">
                                        <input class="form-control" name="name" id="name" placeholder="Full Name" type="text" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="email" name="email" id="email" placeholder="Email Address" required="required" />
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Subject" type="text" id="subject" name="subject">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" id="message" placeholder="Message" rows="5"></textarea>
                                    </div>
                                    <button class="btn btn-default btn-lg btn-block" id="js-contact-btn">Send message</button>
                                </form>
                                <div id="js-contact-result" data-success-msg="Form submitted successfully." data-error-msg="Oops. Something went wrong."></div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d153245.22051935858!2d8.5962035018356!3d53.119949194620204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b128100ceee335%3A0xc2e8885cf937df51!2sBremen!5e0!3m2!1sde!2sde!4v1655294915202!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <!-- subscribe -->

            <!-- Footer-->
        </div>

    </div> 

    <!-- Javascript -->

</body>

</html>
