<!-- <section>

    <div class="main-wrapper">
        <!-- Navigation--
        <div class="scoket">
            <img src="../../../../pictures/logo.png" />
        </div>

        <!-- Page Header --

        <!-- Contact Form / Info --
        <section class="main-content contact-content">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="text-giant">Contact</h2>
                            <p>Unsere Küche hat von 14:00 Uhr bis 22:00 Uhr geöffnet. In diesen Zeiten ist es euch möglich bei uns Essen zu bestellen.
                                Dieses könnet ihr in der Bestellbestätigung angegebenen Zeit bei uns ganz bequem abholen.
                                Wir behalten es uns vor, bei einem großen Kontingent an Bestellungen, einen Vorübergehenden Bestellstop vorzunehmen.
                                Dieser wird aufgehoben, sobald unsere Küche bereit für neue Bestellungen ist.
                                </p>
                            <h3 class="text-left no-margin-top">Address</h3>
                            <div class="footer-address contact-info">
                                <p><i class="fa fa-map-marker"></i>28 Seventh Avenue, Neew York, 10014</p>
                                <p><i class="fa fa-phone"></i>Phone: (415) 124-5678</p>
                                <p><i class="fa fa-envelope-o"></i>support@restaurant.com</p>
                            </div>
                            <br>

                            <h3 class="text-left no-margin-top">Working hours</h3>
                            <div class="contact-info text-muted">
                                <p>10:00 am to 11:00 pm on Weekdays</p>
                                <p>11:00 am to 11:30 pm on Weekends</p>
                            </div>
                            <br>

                            <h3 class="text-left no-margin-top">Follow Us</h3>
                            <div class="contact-social">
                                <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                                <a href="http://www.dribbble.com"><i class="fa fa-dribbble"></i></a>
                                <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                            <input type="text" name="fullName" placeholder="Your full name" ngModel>
                            <br />

                            <input type="email" name="email" placeholder="Your email" ngModel>
                            <br />

                            <textarea name="message" placeholder="Your message" ngModel></textarea>
                            <br />
                            <input type="submit" value="Send">
                        </form> 
                    </div>
                </div>
            </div>
        </section>
        <!-- Google Map --

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d785.1497365810029!2d8.830842549113918!3d53.05804924776651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b0d8069adb20f1%3A0x17bcefc735abbbfa!2sVogelinsel!5e1!3m2!1sde!2sde!4v1656508026220!5m2!1sde!2sde"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- subscribe -


        <!-- Footer-
    </div>

</section>

-->

<section>

    <div class="main-wrapper">
        <!-- Navigation-->
        <div class="scoket">
            <img src="../../../../pictures/logo.png" />
        </div>

        <!-- Page Header -->

        <!-- Contact Form / Info -->
        <section class="main-content contact-content">
            <div class="container">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="text-giant">Contact</h2>
                            <p>Unsere Küche hat von 14:00 Uhr bis 22:00 Uhr geöffnet. In diesen Zeiten ist es euch möglich bei uns Essen zu bestellen. Dieses könnet ihr in der Bestellbestätigung angegebenen Zeit bei uns ganz bequem abholen. Wir behalten
                                es uns vor, bei einem großen Kontingent an Bestellungen, einen Vorübergehenden Bestellstop vorzunehmen. Dieser wird aufgehoben, sobald unsere Küche bereit für neue Bestellungen ist.
                            </p>
                            <h3 class="text-left no-margin-top">Address</h3>
                            <div class="footer-address contact-info">
                                <p><i class="fa fa-map-marker"></i>28 Seventh Avenue, Neew York, 10014</p>
                                <p><i class="fa fa-phone"></i>Phone: (415) 124-5678</p>
                                <p><i class="fa fa-envelope-o"></i>support@restaurant.com</p>
                            </div>
                            <br>

                            <h3 class="text-left no-margin-top">Working hours</h3>
                            <div class="contact-info text-muted">
                                <p>10:00 am to 11:00 pm on Weekdays</p>
                                <p>11:00 am to 11:30 pm on Weekends</p>
                            </div>
                            <br>

                            <h3 class="text-left no-margin-top">Follow Us</h3>
                            <div class="contact-social">
                                <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                                <a href="http://www.dribbble.com"><i class="fa fa-dribbble"></i></a>
                                <a href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                        <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                            <input type="text" name="fullName" placeholder="Your full name" ngModel>
                            <br />

                            <input type="email" name="email" placeholder="Your email" ngModel>
                            <br />

                            <textarea name="message" placeholder="Your message" ngModel></textarea>
                            <br />
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Google Map -->

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d785.1497365810029!2d8.830842549113918!3d53.05804924776651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b0d8069adb20f1%3A0x17bcefc735abbbfa!2sVogelinsel!5e1!3m2!1sde!2sde!4v1656508026220!5m2!1sde!2sde"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <!-- subscribe -->


        <!-- Footer-->
    </div>

</section>