<div class="header-image-container">
  <img class="header-image" src="/assets/pictures/sebastian-coman-photography-cQbOSRpElxw-unsplash.jpg" alt="Picture of Cook">
<header id="header">
	<nav class="links" routerLinkActive="active">
    <a routerLink="reserveTable" routerLinkActive="active" class="menu-link">Tisch reservieren</a>
		<a routerLink="bookRoom" routerLinkActive="active" class="menu-link">Raum buchen</a>
    <a routerLink="home" class="navbar-brand">
			<img src="assets/logo/logolechaudron.png" alt="Logo Le Chaudron"></a>
		<a href="foodMenu" routerLinkActive="active" class="menu-link">Essen bestellen</a>
		<a href="ShoppingCart" routerLinkActive="active" class="menu-link">Einkaufswagen</a>

	</nav>
</header>
</div>
