<div class="main">
  <section class="container">
  <h1>Raum buchen</h1>
  <form>
      <div class = "form-group-1">
      <div class="form-group">
        <select name="anzahlPersonen" id="anzahlPersonen" class="from-control" required>
              <option selected disabled>Wie viele Personen?</option>
              <option value="1">10 Person</option>
              <option value="2">25 Personen</option>
              <option value="3">50 Personen</option>
              <option value="4">100 Personen</option>
              <option value="5">150 Personen</option>
              <option value="6">200 Personen</option>
        </select>
      </div>
      <div class="form-group">
        <input type="date" name = "datum" class = "from-control" required>
      </div>
      <div class="form-group">
        <input type="time" name = "uhrzeit" class = "from-control" required>
      </div>
      </div>
      <pre></pre>
      <div class="form-group-2">
      <div class = "form-group">
        <select name="kellnerAuswahl" id="kellnerAuswahl" class="from-control" required>
              <option selected disabled>Kellner Auswahl</option>
              <option value="1">Jay Mustermann</option>
              <option value="2">Phil Robert</option>
              <option value="3">Gloria Delgado</option>
              <option value="4">Claire Prittchet</option>
              <option value="5">Haley Dunphy</option>
              <option value="6">Cameron Tucker</option>
        </select>
      </div>
      <div class = "form-group">
        <select name="menuAuswahl" id="menuAuswahl" class="from-control" required>
              <option selected disabled>Menü Auswahl</option>
              <option value="1">Hochzeitsmenü</option>
              <option value="2">Geburtstagsmenü</option>
              <option value="3">Hauptmenü</option>
              <option value="4">Vorspeise</option>
              <option value="5">Nachspeise</option>
        </select>
      </div>
      <div class = "form-group">
        <select name="raumAuswahl" id="raumAuswahl" class="from-control" required>
              <option selected disabled>Raum Auswahl</option>
              <option value="1">Party Raum</option>
              <option value="2">Bar</option>
              <option value="3">Luxus Raum</option>
              <option value="4">Raum mit Balkon</option>
        </select>
      </div>
    </div>
    <div id="spacer"></div>

    <div>
        <button type="submit" class="btn btn-default btn-lg OT_TableButton">Reservation machen</button>
    </div>
  </form>
</section>
</div>

<!--
<select>
<option *ngFor="let room of rooms"[value]="room.id">
{{room.anzahlPersonen}}
{{room.kellnerAuswahl}}
{{room.menuAuswahl}}
{{room.raumAuswahl}}
</option>
</select>




<br>
    {{modifiedtext}}
      <pre></pre>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Reservation machen
      </a>


-->
