<div class="body">

  <div class="main-wrapper">
      <!-- Navigation-->
      <!-- Page Header -->

      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="giant-space">
                      <div class="error">
                      <h2 class="text-giant">Wir freuen uns auf euch!</h2>
                      <p class="wow fadeInUp">
                          Der Tisch wurde erfolgreich reserviert. Eine Bestätigung erhaltet ihr per E-Mail.
                          Wir freuen uns drauf euch schon bald zu Begrüßen.
                          </p>
                      <p class="top-space-lg"><a href="/book-table" class="homebutton">Back to home</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>
