
<div id="spacer"></div>
<footer id="header">
	<nav class="links" style="--items: 6;">
        <a class="navbar-brand" href="#">
			<img src="https://cdn-icons-png.flaticon.com/512/4483/4483612.png" alt="img" style="width: 30px; height: 30px"></a>
        <a class="footer-brand" href="#">
			<img src="https://www.pngfind.com/pngs/m/16-169583_png-file-transparent-background-twitter-logo-png-download.png" alt="img" style="width: 30px; height: 30px"></a>
        <a class="footer-brand" href="#">
            <img src="https://toppng.com/uploads/preview/instagram-icon-11609365124lyquzat0xh.png" alt="img" style="width: 30px; height: 30px"></a>
        <a class="footer-brand" href="#">
            <img src="https://toppng.com/uploads/preview/facebook-f-icon-facebook-icon-black-and-white-115630348062vbokhop47.png" alt="img" style="width: 30px; height: 30px"></a>
		<a href="#">Impressum</a>
		<a href="#">Kontakt</a>
		<span class="line"></span>
	</nav>
</footer>
