
<div id="spacer"></div>
<footer id="header">
	<nav class="links" style="--items: 5;">
        <a class="footer-brand" href="#">
			<img src="assets/logo/2021 Twitter logo - black.png" alt="Twitter Logo" style="width: 30px; height: 30px"></a>
        <a class="footer-brand" href="#">
            <img src="assets/logo/glyph-logo_May2016.png" alt="Instagram Logo" style="width: 30px; height: 30px"></a>
        <a class="footer-brand" href="#">
            <img src="assets/logo/f_logo_RGB-Black_250.png" alt="Facebook Logo" style="width: 30px; height: 30px"></a>
		<a href="error404">Impressum</a>
		<a href="contact">Kontakt</a>
		<span class="line"></span>
	</nav>
</footer>
